# ATB THERMO Rev7 Wemos ESP-WROOM-02 4 MB target defaults.
CONFIG_PROJECT_NAME="ev_atb_thermo_wemos"
CONFIG_EV_PLATFORM_ESP8266=y

CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_MONITOR_BAUD=115200
